{% extends '_base_template.html' %}

{% block content %}
    <b>Login!</b>
    <a href="{{ url_for('blog.home') }}">Blog home page</a>
    <a href="{{ url_for('auth.signup') }}">Sign Up</a>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% from "macros/render_field.html" import render_field %}
    <form method="POST" action="{{ url_for('auth.login') }}">
        {{ form.hidden_tag() }}
        <dl>
            {% for field in form %}
                {% if field.id != 'csrf_token' %}
                    {{ render_field(field) }}
                {% endif %}
            {% endfor %}
        </dl>

        <input type="submit" value="{{ 'Login' }}" class="btn">
    </form>
{% endblock %}