body {
    margin: 0 auto;
    text-align: center;
    background-color: bisque;
}

.puzzle_field {
    height: 410px;
    width: 410px;
    margin: 0 auto;
}

.row_field {
    width: 416px;
}

.row_field > div {
    height: 80px;
    width: 100px;
    /*background: #FF6F00;*/
    border: 1px solid black;
    font-family: "Adobe Fan Heiti Std B";
    font-size: xx-large;
    color: white;
    display: inline-block;
    float: left;
    padding-top: 20px;
    text-indent: 100%;
    overflow: hidden;
}

/*.col { background-image: url(img/empty.jpg); }*/

.col1 { background-image: url(img/1.jpg); }

.col2 { background-image: url(img/2.jpg); }

.col3 { background-image: url(img/3.jpg); }

.col4 { background-image: url(img/4.jpg); }

.col5 { background-image: url(img/5.jpg); }

.col6 { background-image: url(img/6.jpg); }

.col7 { background-image: url(img/7.jpg); }

.col8 { background-image: url(img/8.jpg); }

.col9 { background-image: url(img/9.jpg); }

.col10 { background-image: url(img/10.jpg); }

.col11 { background-image: url(img/11.jpg); }

.col12 { background-image: url(img/12.jpg); }

.col13 { background-image: url(img/13.jpg); }

.col14 { background-image: url(img/14.jpg); }

.col15 { background-image: url(img/15.jpg); }

.controls-button {
    margin-top: 35px;
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(212,75,56);
    padding: .7em 1.5em;
    outline: none;
} 
.controls-button:hover {
    background: rgb(232,95,76);
}
.controls-button:active {
    background: rgb(152,15,0);
}