{% extends '_base_template.html' %}

{% block content_jumbotron %}
    <h2>Welcome to the Simple blog!</h2>
    <h3>From now our blog on the database with employing Bluepring, Flask-Login, Flask-Mail and so on.</h3>

    {% if current_user.is_authenticated %}
        <form method="GET" action="{{ url_for('blog.new_post') }}">
            <input type="submit" value="{{ 'Create your post' }}" class="btn btn-default">
        </form>
    {% else %}
        <h3>If you want to create post you need log on.</h3>
    {% endif %}

{% endblock %}

{% block content %}

    {% from "macros/render_field.html" import render_field, render_post %}

    <div class="row">
        {% for post in posts %}
            <div class="col-md-4">
                {% if post.id != 'csrf_token' %}
                    {{ render_post(post) }}
                {% endif %}
                <form method="POST" action="{{ url_for('blog.view_post') }}">
                    <input type="hidden" value="{{ post.id }}" name = "id">
                    <input type="submit" value="{{ 'View post' }}" class="btn">
                </form>
            </div>
        {% endfor %}
    </div>

{% endblock %}