{% extends '_base_template.html' %}

{% block content_jumbotron %}
    {% from "macros/render_field.html" import render_post %}
        <div class="row">
            <div class="col-md-11">
                {% if post.id != 'csrf_token' %}
                    {{ render_post(post) }}
                {% endif %}
            </div>
            {% if current_user.id == post.user_id %}
            <div class="col-md-1">
{#                <form method="POST" action="{{ url_for('blog.edit_post') }}">#}
{#                    <input type="hidden" value="{{ post.id }}" name = "id">#}
{#                    <input type="submit" value="{{ 'Edit post' }}" class="btn btn-default">#}
{#                </form>#}
                <form method="POST" action="{{ url_for('blog.delete_post') }}">
                    <input type="hidden" value="{{ post.id }}" name = "id">
                    <input type="submit" value="{{ 'Delete post' }}" class="btn btn-danger">
                </form>
            </div>
            {% endif %}
        </div>
{% endblock %}

{% block content %}
    <div class="comments">
        {% from "macros/render_field.html" import render_comments %}
        {% for comm in comments %}
        <div class="row">
            <div class="col-md-10">
                {% if comm.id != 'csrf_token' %}
                    <blockquote>
                        <p>{{ comm.text }}</p>
                        <footer>{{ comm.date }}</footer>
                    </blockquote>
                {% endif %}
            </div>
{#            <div class="col-md-2">#}
{#                {% if current_user.id == comm.user_id %}#}
{#                    <form method="POST" action="{{ url_for('blog.delete_comm') }}">#}
{#                        <input type="hidden" value="{{ comm.id }}" name = "comm_id">#}
{#                        <input type="submit" value="{{ 'Delete comment' }}" class="btn btn-danger">#}
{#                    </form>#}
{#                {% endif %}#}
{#            </div>#}
        </div>
        {% endfor %}
    </div>
        {% if current_user.is_authenticated %}
            <div class="form-horizontal">
                <label class="col-sm-2 control-label" for="text">Your comment</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="comment_text"></textarea>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="hidden" value="{{ post.id }}" id="post_id">
                        <input type="submit" id="new_comment" class="btn btn-default">
                    </div>
                </div>
            </div>
        {% else %}
            <h4>If you want to create comment you need log on.</h4>
        {% endif %}


{% endblock %}