{% extends '_base_template.html' %}
{% block content_jumbotron %}
    <h2>User information:</h2>
    {% if current_user.is_authenticated %}
        <h3>Name: {{ current_user.username }}</h3>
        <h3>E-mail: {{ current_user.email }}</h3>
    {% endif %}
{% endblock %}

{% block content %}
    <h3>Backward message form</h3>
    {% from "macros/render_field.html" import render_field %}
    <form method="POST" action="{{ url_for('blog.user_profile') }}" class="form-horizontal">
        {{ form.hidden_tag() }}
            {% for field in form %}
                <div class="form-group">
                    {% if field.id != 'csrf_token' %}
                        {{ render_field(field) }}
                    {% endif %}
                </div>
            {% endfor %}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="{{ 'Send message' }}" class="btn btn-default">
            </div>
        </div>
    </form>
{% endblock %}